<h2>Add Contry</h2>
<form method="post">
  <label for="name">Contry Name : </label>
  <select name="name" id="name">
    <option>item1</option>
    <option>item1</option>
    <option>item1</option>
  </select>
  <br>
  <label for="code">Contry Code : </label>
  <input type="number" name="code">
  <br>
  <label for="currency">Currency : </label>
  <input type="text" name="currency">
  <br>
  <label for="status">Status : </label>
  <textarea name="status" id="status" cols="30" rows="10"></textarea>
  <br>
</form>